// 半透明rgb色
$color-theme-masking = rgba(0,0,0,0.2)
//曲度
$border-radius = 10px

$color-text = #333333
$color-text-d = #666
$color-text-c =#9fa0a0
$color-text-l =#888888
$color-text-ll = #dcdcdc
$color-text-lll = #e0e0e0
$color-text-amount =#ff9b1a
$color-text-normal = #4c4948
$color-text-gray = #bdbdbd

//字体定义规范
$font-size-small-s = 18px
$font-size-small = 20px
$font-size-medium-s = 24px
$font-size-medium = 26px
$font-size-medium-x = 28px
$font-size-large = 32px
$font-size-large-x = 36px
$font-size-large-l = 44px

//定义字体粗细
$font-weight-s = 200
$font-weight-m = 400
$font-weight-x = 600
$font-weight-xx = 800


//左右边距
$left-right-margin = 3%

//背景色
$tip-top-bg=#fffbe0
$setting-top-bg=#f6f6f6
$pay-left-bg=#dcdcdc
$bg-color=#39b240
$bg-color-pressed=#57DC5F
$bg-color-setting-pressed=#F4FEF5
$order-bg-color=#f1fdf3
$order-bg-color-noorder=#f9f9f9

